@using Microsoft.AspNetCore.Http
@model MVC_AHTBCINEMA.Model.Multimodel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string user = Context.Session.GetString("Username");
    bool isLoginIN = !string.IsNullOrEmpty(user);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.awesome.com/fontawesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .marquee {
            font-size: x-large;
            font-weight: 500;
            color: red;
        }
    </style>
</head>
<body>
    <!-- Modal for seat selection -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chọn ghế</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row g-2" id="seat-container">
                            <!-- Ghế sẽ được tải và hiển thị ở đây -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            @foreach (var phim in Model.Phim)
            {
                <div class="col-lg-3 mt-3">
                    <img src="/uploads/@phim.HinhAnh" alt="@phim.TenPhim" class="img-fluid">
                </div>
                <div class="col-lg-9">
                    <div class="black-bg p-4">
                        <div>
                            <h2>@phim.TenPhim</h2>
                            <p>Dạng Phim: <span class="badge bg-warning">@phim.DangPhim</span></p>
                            <p>Thể Loại: @phim.LoaiPhim.TenLoai</p>
                        </div>
                        <button class="btn btn-danger trailer-button floating-btn">Xem Trailer</button>
                    </div>
                    <div class="movie-details">
                        <h5>Diễn viên: @phim.DienVien</h5>
                        <h5>Thời lượng: @phim.ThoiLuong phút</h5>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <div class="bg-danger text-white p-3 text-center" id="cinema-info" style="cursor: pointer;">
                                    <h2>Mua Vé</h2>
                                </div>
                                <div class="border border-danger p-3" id="showtimes" style="display: none;">
                                    @if (isLoginIN)
                                    {
                                        @if (Model.CaChieu.Any(cc => cc.Phim == phim.IdPhim))
                                        {
                                            @foreach (var cachieu in Model.CaChieu.Where(cc => cc.Phim == phim.IdPhim))
                                            {
                                                <div class="card mb-3">
                                                    <div class="card-header">
                                                        <p class="card-text">Ngày chiếu: @cachieu.NgayChieu.ToString("dd/MM/yyyy")</p>
                                                    </div>
                                                    <div class="card-body">
                                                        @if (cachieu.GioChieus != null && cachieu.GioChieus.Any())
                                                        {
                                                            <h6 class="card-subtitle mb-2 text-muted">Danh sách giờ chiếu:</h6>
                                                            <div class="btn-toolbar justify-content-start" role="toolbar" aria-label="Lịch xem">
                                                                @foreach (var giochieu in cachieu.GioChieus.Where(gc => gc.Cachieu == cachieu.IdCaChieu))
                                                                {
                                                                    <div class="btn-group me-2" role="group">
                                                                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" data-id="@giochieu.IdGioChieu" data-phim-id="@phim.IdPhim" class="btn btn-outline-primary time-slot">
                                                                            @giochieu.GioBatDau.ToString(@"hh\:mm") - @giochieu.GioKetThuc.ToString(@"hh\:mm")
                                                                        </a>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <p>Chưa có giờ chiếu</p>
                                                        }
                                                    </div>
                                                    <div class="card-footer">
                                                        <small class="text-muted">Trạng thái: @cachieu.TrangThai</small>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <p>Không có suất chiếu</p>
                                        }
                                    }
                                    else
                                    {
                                        <h6>Vui lòng đăng nhập để thực hiện chức năng này!!!</h6>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Suggested Movies Section -->
        <div class="suggested-movies mt-5">
            <h3>Phim cùng thể loại</h3>
            <div class="row">
                @foreach (var suggestedMovie in Model.SuggestedMovies)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                        <div class="card">
                            <img src="/uploads/@suggestedMovie.HinhAnh" class="card-img-top" alt="@suggestedMovie.TenPhim" height="300px" width="100px">
                            <div class="card-body">
                                <h5 class="card-title">@suggestedMovie.TenPhim</h5>
                                <p class="card-text">Thể Loại: @suggestedMovie.LoaiPhim.TenLoai</p>
                                <a href="/Multimodel/Details/@suggestedMovie.IdPhim" class="btn btn-primary">Xem Chi Tiết</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#cinema-info').click(function () {
                $('#showtimes').toggle();
            });

            $('.time-slot').click(function (event) {
                event.preventDefault();
                var gioChieuId = $(this).data('id');
                var phimId = $(this).data('phim-id');
                loadSeats(gioChieuId, phimId);
            });

            function loadSeats(gioChieuId, phimId) {
                $.ajax({
                    url: '/Multimodel/LoadSeats', // Đường dẫn tuyệt đối hoặc tương đối phù hợp với ứng dụng của bạn
                    type: 'GET',
                    data: { id: gioChieuId, gioChieuId: gioChieuId }, // Truyền thêm gioChieuId vào data
                    success: function (data) {
                        console.log('AJAX success:', data); // Ghi lại phản hồi
                        var seatContainer = $("#seat-container");
                        seatContainer.empty();
                        if (data && data.length > 0) {
                            $.each(data, function (index, seat) {
                                var seatHtml = '<div class="col-1 m-3 d-flex align-items-center justify-content-center">' +
                                    '<a class="btn btn-outline-primary" href="/Multimodel/ThanhToan/' + seat.id + '?idphim=' + phimId + '&gioChieuId=' + gioChieuId + '&username=' + '@user' + '">' + seat.name + '</a>' +
                                    '</div>';

                                seatContainer.append(seatHtml);
                            });
                        } else {
                            seatContainer.append('<p>Không có ghế nào.</p>');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('Lỗi AJAX:', xhr.responseText, status, error);
                        alert('Không tải được ghế. Vui lòng kiểm tra console để biết thêm chi tiết.');
                    }
                });
            }
        });
    </script>
</body>
</html>


<style>
    .black-bg {
        background-color: #000;
        color: #fff;
        padding: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .trailer-button {
        order: 2;
        border-radius: 50px;
        border: none;
        padding: 10px 20px;
    }

    .movie-details {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
    }

    .floating-btn {
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
    }

        .floating-btn:hover {
            background: red;
        }
</style>