@model API_AHTBCINEMA.Models.GioChieu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GioChieu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaChieus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaChieus.IdCaChieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdGioChieu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
