@model IEnumerable<API_AHTBCINEMA.Models.GioChieu>

@{
    ViewData["Title"] = "Quản lý giờ chiếu";
}

<div class="container">
    <h1 class="mt-4">@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary">Thêm giờ chiếu</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Giờ bắt đầu</th>
                    <th scope="col">Giờ kết thúc</th>
                    <th scope="col">Ca Chiếu</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.GioBatDau)</td>
                        <td>@Html.DisplayFor(modelItem => item.GioKetThuc)</td>
                        <td>
                            @item.CaChieus.NgayChieu.ToString("dd/MM/yyyy") - @item.CaChieus.Phongs.SoPhong - @item.CaChieus.Phims.TenPhim
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.IdGioChieu" class="btn btn-info">Thông tin giờ chiếu</a>
                            <a asp-action="Edit" asp-route-id="@item.IdGioChieu" class="btn btn-primary">Sửa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>