@model IEnumerable<AHTBCinema_NHOM4_SD18301.Models.Ve>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .content-wrapper {
        margin-top: 50px;
    }
</style>
<div class="">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row sm-2">
                <div class="col-sm-6">
                    <h1>Danh sách vé</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%">Tên vé</th>
                                            <th style="width: 15%">Ghế</th>
                                            <th style="width: 15%">Giờ bắt đầu</th>
                                            <th style="width: 15%">Giờ kết thúc</th>
                                            <th style="width: 15%">Giá vé</th>
                                            <th style="width: 20%">Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.TenVe)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Ghes.TenGhe)</td>
                                                <td>@Html.DisplayFor(modelItem => item.GioChieus.GioBatDau)</td>
                                                <td>@Html.DisplayFor(modelItem => item.GioChieus.GioKetThuc)</td>
                                                <td>@Html.DisplayFor(modelItem => item.GiaVe)</td>
                                                <td> <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdVe">Thông tin</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>  