@model IEnumerable<AHTBCinema_NHOM4_SD18301.Models.Ghe>

@{
    ViewData["Title"] = "Quản lý Ghế";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center">Quản lý Ghế</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm Ghế</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TenGhe)</th>
            <th>@Html.DisplayNameFor(model => model.Phongs)</th>
            <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
            <th>@Html.DisplayNameFor(model => model.LoaiGhes)</th>
            <th>Hoạt động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="row-@item.IdGhe">
                <td>@Html.DisplayFor(modelItem => item.TenGhe)</td>
                <td>@Html.DisplayFor(modelItem => item.Phongs.SoPhong)</td>
                <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
                <td>@Html.DisplayFor(modelItem => item.LoaiGhes.TenLoaiGhe)</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.IdGhe">Sửa</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdGhe">Thông tin</a> 
                   
                </td>
            </tr>
        }
    </tbody>
</table>

